<% page = { 'title' : 'PAGE_TITLE', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css' : ["fileEditor.css"], 'js' : ["fileEditor.js"] } %>
<div id="main" class="experiments">
  <div class="no-layout">
    <section class="basic">
      <div class="fileEditor" data-ng-controller="fileEditor">
        <table class="editorTable">
          <th class="editorData" data-ng-repeat="title in columnTitles">{{title}}</th>
          <tr class="editorRow" data-ng-repeat="row in rows | filter:newRow.name">
            <td class="editorData" data-ng-repeat="column in row.columns | orderBy:column">
              {{column}}
            </td>
          </tr>
          <tr class="editorRow">
          <% for (var i = 0; i < columnObj.length; ++i) { %>
            <td class="editorData">
                <input type="text" data-ng-model="<%- columnObj[i] %>">
            </td>
          <% } %>
          </tr>
        </table>
      </div>
    </section>
  </div>
</div>
